* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.col {
    float: left;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Whitney, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

img {
    width: 100%;
}

/* BUTTON COMMON */
.btn-large {
    display: inline-block;
    line-height: normal;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 25px;
    margin-left: 20px;
}

.btn-small {
    display: inline-block;
    line-height: normal;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 18px;
    text-decoration: none;
    color: black;
}

.btn-white {
    display: inline-block;
    line-height: normal;
    background-color: white;
    text-decoration: none;
    color: black;
}

.btn-black {
    display: inline-block;
    line-height: normal;
    background-color: black;
    color: white;
    text-decoration: none;
}
/* END BUTTON COMMON */


/* HEADER */
header {
    height: 80px;
    background-color: #3161e0;
}

nav {
    line-height: 80px;
    width: 100%;
}

.logo-container {
    width: 20%;
    text-align: left;
}

.menu-container {
    width: 60%;
    text-align: center;
}

.login-container {
    width: 20%;
    text-align: right;
}

.logo-container img {
    vertical-align: middle;
    width: 120px;
}

.menu-container ul {
    list-style-type: none;
}

.menu-container ul li {
    display: inline-block;
    line-height: 80px;
}

.menu-container ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
/* END HEADER */


/* MAIN */
.banner-container {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 100px 0;  
}

.banner-content {
    width: 50%;
    margin: auto;
    text-align: center;
}

.banner-title h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 40px;
}

.banner-paragraph p {
    font-size: 20px;
    color: white;
    line-height: 32px;
}

.banner-buttons {
    margin-top: 40px;
    margin-bottom: 60px;
}


/* SECTION */
section {
    padding: 80px 0;
}

.section-image-left, .section-image-right {
    width: 65%;
}

/* .section-image-left img, .section-image-right img {
    width: 700px;
    height: auto;
} */

.section-text-right, .section-text-left {
    width: 35%;
}

.section-text-left h2 {
    font-size: 45px;
    padding-top: 40px;
}

.section-text-right h2 {
    font-size: 45px;
    padding-top: 40px;
    padding-left: 40px;
}

.section-text-left p {
    line-height: 25px;
    padding-top: 20px;
}

.section-text-right p {
    padding-left: 40px;
    padding-top: 20px;
    line-height: 25px;
}

.second {
    background-color: #f6f6f6;
}


